# Include the README
include README.md

# Include the authors file
include AUTHORS

# Include the license file
include LICENSE

# Include the PEP 561 marker, which declares the package as typed
include javaobj/py.typed
